@media (max-width: 768px) {
    header{
        background-color: #242424;
        color:#fff;
    }
    .phone{
        text-align: left;
        color:#fff;
    } 
    .phone a{
        color:#fff;
    }

    .rating-marker{
        color:#fff;
        max-width: 520px;
        min-height: 360px;
        background-color: #2d2d2d;
        padding:40px 2rem; 
    
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        font-weight: 100;
        font-family: "Roboto Slab",tahoma,serif;
    }
    
    .rating-marker__stat span{
        font-size: 36px;
    }
    .marker-stat__firstline{
        color:#fff;
    }
    .marker-stat__ico {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }
    .marker__stat{
        font-size: 20px;
        line-height: 30px;
        font-weight: 100;
        margin-bottom: 15px;
        font-family: "Roboto Slab",tahoma,serif;
        color: #a4a6a8;
    }

    .mainquestinfo {
        padding: 0 2rem 20px;

    }
    .mainquestinfo_pict{
        margin: 0 -2rem;
        height: 350px;
        background-position:50% 50%; 
        background-size: cover;
    }
    .mainquestinfo_head{
        font-size: 22px;
        line-height: 1.2;
        font-weight: bold;
        text-align: left;
        margin-top: 10px;
    }
    .mobile-price_carusel_item p.sub-text{
        padding-left:0; 
    }
    .ya-share2.ya-share2_inited {
        padding: 0 2rem;
    }
    .ya-share2__container {
        font-size: 12px;
        border-bottom: 1px solid #c7c7c7;
        border-top: 1px solid #c7c7c7;
        margin-bottom: 30px;
        text-align: center;
    }
    .ya-share2__container .ya-share2__list {
        display: inline-block;
        padding: 0;
        list-style-type: none;
        margin: 30px 0;
    }
    
    .ya-share2__container_size_m .ya-share2__item {
        margin: 5px 20px 5px 0!important;
    }

    .mobile-price_carusel {
        white-space: nowrap;
        width: 100%;
        overflow: auto;
    }
    .mobile-price_carusel_item{
        display: inline-block;
        width: 280px;
        vertical-align: top;
        padding-bottom: 45px;

    }
    .mobile-banner_callback, .mobile-banner_play {
        width: 275px;
    }
    
    .mobile-banner_callback {
        background: url(../img/mobile/callback-blue.png) center center no-repeat;
    }
    .mobile-banner_play {
        background: url(../img/mobile/callback-b.png) center center no-repeat;
    }
    .mobile-rule {
        margin-bottom: 50px;
    }
    .mobile-quest-header {
        display: flex;
        align-items: center;
        height: 85px;
        padding: 0 0 0 2rem;
        line-height: 0;
    }

    .mobile-quest-header img {
        display: inline-block;
        height: 40px;
        width: 30px;
        margin-right: 0;
    }
    .mobile-rule img {
        height: 60px;
        width: 60px;
    }
    .mobile-timetable img {
        height: 60px;
        width: 78px;
    }
    .mobile-timetable span img {
        width: 9px;
        height: 14px;
        vertical-align: inherit;
    }
    .red {
        display: block;
        color: #FC381E;
        margin: 15px 0;
        font-size: 20px;
    }
    .red-color {
        color: #FC381E;
    }
    .mobile-price img {
        height: 85px;
        width: 76px;
    }
    .mobile-quest-header h3 {
        font-size: 22px;
        display: inline-block;
        margin: 0;
        line-height: 24px;
        padding-left: 15px;
        font-weight: 600;
        vertical-align: middle;
    }
    .mobile-quest .mobile-quest-slider .swiper-slide h6, {
        margin-top: 1.4rem;
        font-size: 18px;
        font-weight: 500;
        color: #333;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        margin-bottom: .2rem;
        height: 4.2rem;
        line-height: 2rem;
    }
    .mobile-rule h6 {
        font-size: 18px;
        font-weight: 600;
        margin: 30px 0 15px 0;
    }
    .mobile-timetable h6 {
        font-size: 22px;
        font-weight: 500;
        margin: 30px 0 15px 0;
    }
    .mobile-quest .mobile-quest-slider,
    .mobile-rule-text,
    .mobile-rule-text ul,
    .mobile-timetable,
    .mobile-price_carusel,
    .sub-text,
    .info {
        padding: 0 0 0 2rem;
    }
    .sub-text {
        font-size: 16px;
        font-weight: 100;
    }
    .text-information {
        margin: 25px 0 50px 0;
    }
    .mobile-price_carusel .red {
        margin: 1px 0;
        display: inline;
        font-weight: 100;
    }
    .mobile-timetable .mobile-quest-header {
        padding: 0;
    }
    .mobile-rule ul,
    .mobile-rule p
     {
        font-size: 16px;
        font-weight: 100;
    }
    .mobile-quest .mobile-quest-slider .swiper-slide a {
        height: 185px;
    }
    .mobile-quest .mobile-quest-slider {
        border-bottom: none;
    }
    .swiper-slide {
        width: 205px!important;
    }
    .quest-more {
        font-size: 1.3rem;
        color: #000;
        border-bottom: none;
        position: absolute;
        bottom: 1rem;
        right: 2.2rem;
    }
    .quest-more:after {
        position: absolute;
        content: '';
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        background: none;
        background-size: auto;
        height: 5px;
        width: 5px;
        display: inline-block;
        -webkit-transition: all .15s;
        -o-transition: all .15s;
        transition: all .15s;
        transform: rotate(-45deg);
        top: 0.74rem;
        right: -1rem;
    }
    .mobile-quest-footer div:nth-of-type(1), .mobile-quest-footer div:nth-of-type(3):not(.quest-more) {
        margin-left: 1.4rem;
        width: 10.3rem;
    }
    .mobile-quest .mobile-quest-slider {
        border-bottom: none;
        background-color: #fff;
    }
    .mobile-quest .mobile-quest-slider .swiper-slide {
        margin: 0 .5rem 6rem;
    }
    .callback {
        width: 274px!important;
        margin-bottom: 60px;
    }
    .info .quest-amount,
    .info .quest-blood,
    .info .quest-actor,
    .info .quest-time {
        font-size: 16px;
    }
}