body {
    font-size: 16px;
}
    /*расписание*/
.booking-header,.booking-header_city_schedule {
    font-size: 36px
}

@media (max-width: 1023px) {
    .booking-header {
        text-align:left
    }
}
.booking-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width: 1023px) {
    .booking-row {
        display:block
    }
}

.booking-row.is-hidden {
    display: none
}

.booking-row.for-city-schedule {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    height: 100px;
    margin: 0px 20px
}

@media (max-width: 1023px) {
    .booking-row.for-city-schedule {
        display:block;
        height: auto;
        padding-bottom: 20px
    }
}

/* .booking-row-day {
    display: inline-block;
    vertical-align: middle;
    padding: 24px 0px 24px 0px;
    line-height: 22px;
    margin: 0 10px 0 0;
    width: 110px
} */

@media (max-width: 1023px) {
    /* .booking-row-day {
        display:block;
        width: 100%;
        padding: 0 0 15px 0;
        border-bottom:none
    }
} */

.booking-row-day.for-city-schedule {
    width: 200px;
    padding: 0px
}

@media (max-width: 1023px) {
    .booking-row-day.for-city-schedule {
        width:100%;
        margin-bottom: 10px
    }
}

.booking-row-day.weekend {
    border-right: 1px solid #FC381E
}

@media (max-width: 1023px) {
    .booking-row-day.weekend {
        border-right:none;
        border-bottom: 1px solid #FC381E;
        color: #FC381E
    }
}

.booking-row-day--date {
    text-align: left;
    font-size: 18px;
    font-weight: 300
}

@media (max-width: 1023px) {
    .booking-row-day--date {
        display:inline-block;
        font-size: 20px
    }
}

.booking-row-day--date a {
    color: black;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    cursor: pointer
}

.booking-row-day--date a:hover {
    color: #E76304
}

.booking-row-day--name {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    text-transform: lowercase
}

@media (max-width: 1023px) {
    .booking-row-day--name {
        display:inline-block;
        font-size: 20px
    }
}

.booking-row-time {
    border: none;
    background: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 8px 0 4px 0;
    width: 42px;
    margin: 0 3px;
    cursor: pointer;
    -webkit-transition: color 0.3s,border-color 0.3s;
    transition: color 0.3s,border-color 0.3s;
    font-family: "Roboto Slab",serif;
    font-weight: 300;
    font-size: 18px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media (max-width: 1023px) {
    .booking-row-time {
        min-width: 75px;
        height: 45px;
        font-size: 18px;
        margin: 8px 8px!important;
        box-shadow: 0 0px 32px 7px #f1f1f1;
        border-radius: 5px;
        padding: 5px;
    }
}

.booking-row-time:first-child {
    margin: 0 3px 0 0
}

.booking-row-time:last-child {
    margin: 0 0 0 3px
}

.booking-row-time.disabled {
    pointer-events: none;
    border-color: #dfdfdf;
    color: #b8b8b8
}

@media (max-width: 1023px) {
    .booking-row-time.disabled {
        border:none
    }
}

.booking-row-time:hover {
    border-color: #E76304;
    color: #E76304
}

.booking-row-time-list {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-disection: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 20px 0 0 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media (max-width: 1023px) {
    .booking-row-time-list {
        display:block;
        float: none;
        width: 100%;
    }
}

.booking-row-time-list.for-city-schedule {
    margin: 0px
}

.booking-row-timeslots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 1023px) {
    .booking-row-timeslots {
        display:block
    }
}

.booking-row-timeslots.for-city-schedule {
    border-bottom: 1px solid #cccccc
}

.booking-row-time-special-price-value {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
    font-size: 12px;
    font-weight: 300;
    color: #222222
}

@media (max-width: 1023px) {
    .booking-row-time-special-price-value {
        display:none
    }
}

.booking-row-time-special-price-value.for-city-schedule {
    position: static;
    -webkit-transform: none;
    transform: none;
    text-align: center
}

@media (max-width: 1023px) {
    .booking-row-time-special-price-value.for-city-schedule {
        display:block;
        position: static;
        -webkit-transform: none;
        transform: none;
        text-align: center
    }
}

.booking-row-time-special-price,.booking-row-time-special-price_city-schedule {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    top: -4px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content
}

@media (max-width: 1023px) {
    .booking-row-time-special-price,.booking-row-time-special-price_city-schedule {
        display:block
    }
}

/* .booking-row-time-special-price::before {
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    border-bottom: none;
    left: 0;
    bottom: 0
} */
.tabs .nav-tabs>li.active>a, .tabs .nav-tabs>li.active>a:focus, .tabs .nav-tabs>li.active>a:hover {
    color: #ff6600;
    border: none;
    border-bottom: 2px solid #ff6600;
}
.tabs .nav-tabs>li>a:hover {
    border-color: #fff;
}
.tabs .nav>li>a:focus, .nav>li>a:hover {
    background-color: #fff;
}
.tabs a {
    color: #000;
    font-size: 20px;
}

.rules {
    max-width: 750px;
    font-weight: 100;
}
h3 {
    font-size: 20px;
    line-height: 30px;
}
.rules ul {
    padding-left: 20px;
}
.price {
    font-weight: 100;
}
.price .red {
    color: #FC381E;
}
.price a {
    font-size: 16px;
    display: block;
    text-decoration: underline;
    margin: 0 0 10px;
}
